.git
.github
.task
.env*
**/.env*
.idea
.codex
bin
data
frontend/node_modules
build/linux/appimage/build
build/darwin/Assets.car
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/ios/xcode
build/android/.gradle
build/android/build
build/android/app/build
build/android/gen
build/android/overlay.json
